<!doctype html>
<html lang="en">
  <head>
    <title>
      Azure - Sistema
    </title>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
  
    <link href="../static/css/bootstrap.min.css" rel="stylesheet"/>

  </head>
  
  <body>
    
  <!-- #presentacion -->
  <header>
    
    <nav class="navbar navbar-expand navbar-light bg-light">
        <div class="nav navbar-nav">
          {% if tiUsuario == 'A' %}
          <a class="nav-item nav-link" href="/">Inicio</a>
          <a class="nav-item nav-link" href="#">WF. Negocios</a>
          <a class="nav-item nav-link" href="#">WF. Cobranzas</a>
          <a class="nav-item nav-link" href="#">WF.Riesgos</a>
          <a class="nav-item nav-link" href="#">WF.RRHH</a>
          <a class="nav-item nav-link" href="/lista_prospecto">Reporte de Prospectos</a>
          {% else %}
          <a class="nav-item nav-link" href="/">Inicio</a>
          <a class="nav-item nav-link" href="/lista_prospecto">Reporte de Prospectos</a>
          {% endif %}
        </div>
    </nav>
    
</header>

</body>