<!doctype html>
<html lang="es">

    <head>
        <title>Azure</title>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>

        <!--  CARGA DE ESTILOS CSS DE BOOTSTRAP -->
        <link href="../static/css/bootstrap.min.css" rel="stylesheet"/>
        
        
    </head>

    <body>
        <br><br><br>
        <!-- Button trigger modal -->
        <div class="table_responsive">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <div class="card">
                        <div class="card-header">
                            Datos del Prospecto
                        </div>
                        <div class="card-body">
                            <form action="/r_prospecto" method="post" enctype="multipart/form-data">
                                <div class="mb-3">
                                    
                                        <label for="co_docide" class="form-label">Nro. de Documento:</label>
                                        <input type="text" class="form-control" id="co_docide" name="co_docide" aria-describedby="emailHelp" placeholder="Ingrese el Nro. de Documento">
                                        <label for="no_apepat" class="form-label">Apellido Paterno:</label>
                                        <input type="text" class="form-control" id="no_apepat" name="no_apepat" aria-describedby="emailHelp" placeholder="Ingrese el Apellido Paterno">
                                        <label for="no_apemat" class="form-label">Apellido Materno:</label>
                                        <input type="text" class="form-control" id="no_apemat" name="no_apemat" aria-describedby="emailHelp" placeholder="Ingrese el Apellido Materno">
                                        <label for="no_nombre" class="form-label">Nombres:</label>
                                        <input type="text" class="form-control" id="no_nombre" name="no_nombre" aria-describedby="emailHelp" placeholder="Ingrese su Nombre"><br>
                                        <label for="ti_genero" class="form-label">Genero:</label>
                                        <select class="" name="ti_genero">
                                            <option value="F">Femenino</option>
                                            <option value="M">Masculino</option>
                                        </select><br>
                                        <label for="fe_nacimi" class="form-label">Fecha de Nacimiento:</label>
                                        <input type="date" class="form-control" id="fe_nacimi" name="fe_nacimi" aria-describedby="emailHelp" >
                                        <label for="no_correo" class="form-label">Correo:</label>
                                        <input type="email" class="form-control" id="no_correo" name="no_correo" aria-describedby="emailHelp" placeholder="Correo">
                                        <label for="nu_telefo" class="form-label">Nro. de Teléfono:</label>
                                        <input type="text" class="form-control" id="nu_telefo" name="nu_telefo" aria-describedby="emailHelp" placeholder="Ingrese su Nro. de Teléfono"><br>
                                        <label for="no_direcc" class="form-label">Dirección:</label>
                                        <input type="text" class="form-control" id="no_direcc" name="no_direcc" aria-describedby="emailHelp" placeholder="Ingrese su Dirección"><br>
                                </div>
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </form>
                			
                        </div>
                    </div>
                </div>
                
            </div>
        </div>


       
    </body>


    <script>

        // Esperar a que el documento esté completamente cargado
        document.addEventListener("DOMContentLoaded", function () {
            // Obtener el formulario
            const form = document.querySelector("form");

            // Obtener el botón de enviar
            const submitButton = form.querySelector("button[type='submit']");

            // Agregar un evento 'submit' al formulario
            form.addEventListener("submit", function (event) {
                // Evitar que el formulario se envíe normalmente
                event.preventDefault();

                // Deshabilitar el botón de enviar mientras se procesa la solicitud
                submitButton.disabled = true;

                // Obtener los datos del formulario
                const formData = new FormData(form);

                // Determinar si es una solicitud de creación (POST) o actualización (PUT)
                const coPerson = form.dataset.coPerson;
                const method = coPerson ? "PUT" : "POST";
                const url = coPerson ? `/r_prospecto/${coPerson}` : "/r_prospecto";

                // Enviar la solicitud utilizando Fetch API
                fetch(url, {
                    method: method,
                    body: formData
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error("Error al enviar el formulario");
                    }
                    // Si la solicitud se realiza con éxito, redirigir al usuario a la página principal
                    window.location.href = "/r_prospecto";
                })
                .catch(error => {
                    console.error("Error:", error);
                    // Habilitar el botón de enviar en caso de error
                    submitButton.disabled = false;
                });
            });
        });

        // Obtener todos los enlaces con la clase "delete-link"
        const deleteLinks = document.querySelectorAll(".delete-link");

        deleteLinks.forEach(link => {
            link.addEventListener("click", function(event) {
                event.preventDefault(); // Evitar el comportamiento predeterminado de los enlaces
                
                const co_person = link.dataset.id; // Obtener el ID de la persona del atributo 'data-id' del enlace

                // Confirmar si el usuario realmente quiere eliminar la persona
                if (confirm("¿Estás seguro de que deseas eliminar el registro de esta persona?")) {
                    // Enviar una solicitud DELETE al servidor
                    fetch(`/persona/${co_person}`, {
                        method: "DELETE"
                    })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error("Error al eliminar el registro de esta persona");
                        }
                        // Si la eliminación es exitosa, recargar la página para mostrar los cambios actualizados
                        window.location.href = "/persona";
                    })
                    .catch(error => {
                        console.error("Error:", error);
                    });
                }
            });
        });

    </script>

    
</html>